body {
    font-family: 'Lato', sans-serif;
    color: $black;
    p {
        line-height: 2;
    }
    a {
        text-decoration: none;
    }
} 
main.elegant {
    h2,h2,h3.large-title {
        color: $black;
        font-family: 'Baskerville';
        font-weight: 100;
        margin-top: 0;
        display: inline-block;
        &::after {
            content: '';
            border-top: solid 4px #C9C5AE;
            display: block;
            width: 70%;
            margin-top: 30px;
        }   
    }
    h1 {
        font-size: 65px;
    }
    h2 {
        font-size: 50px;
    }
    .pre-title {
        color: $light-grey;
        font-size: 22px;
        font-weight: 300;
        font-family: 'Lato', sans-serif; 
    }
    h3 {
        color: $light-grey;
        font-weight: 400;
    }

}
main.snow {
    h1,h2 {
        font-family: 'Lust';
        margin: 0;
        text-align: center;
    }
    h1 {
        font-size: 100px;
        color: $purple;
    }
    .pre-title {
        color: $purple;
        font-size: 20px;
        font-weight: 100;
        font-family: 'Lato', sans-serif;
    }
}