// Colors

$golden: #C9C5AE;
$goldenBg: #FFFEF8;
$light-grey: #AEBBB9;
$black: #2D2D2D;
$bg-grey: #F0F0F0;

$purple:#474670;
$turquoise: #89D3BF;
$pinkwhite: #F7FBFF;
$pinkgradient: linear-gradient(to bottom right, #B1EFFF, #DCBEFF)
