button, a.btn {
    background-color: transparent;
    border: none;
    width: fit-content;
    &:hover {
        cursor: pointer;
    }
}
.btn-neutral,a.btn.btn-neutral {
    display: block;
    margin: auto;
    padding: 15px 25px;
    color: #fff;
    background-color: $black;
    margin-bottom: 30px;
}
main.elegant {
    .btn-primary-light, .btn-primary-dark {
        border-bottom: 2px solid $black;
        border-right: 2px solid $black;
        padding: 0 10px 10px 0;
        font-weight: 600;
        text-align: right;
        &:visited {
            color: inherit;
        }
    }
    .btn-primary-dark {
        display: block;
        margin: auto;
        margin-bottom: 50px;
    }
}
main.snow {
    .btn-primary-light {
        color: $pinkwhite;
        background: $pinkgradient;
        border: none;
        position: relative;
        border-radius: 5px;
        padding: 10px 25px;
        z-index: 1;
        margin: 30px auto;
        display: block;
        width: fit-content;
        &::before {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            right: 2px;
            bottom: 2px;
            border-radius: 3px;
            background-color: $purple;
            z-index: -1;
        }
        &:hover {
            cursor: pointer;
            color: $purple;
            &:before {
                display: none;
            }
        }
    }
    .btn-primary-dark {
        color: $purple;
        background: $pinkgradient;
        font-weight: 600;
        border: none;
        position: relative;
        border-radius: 5px;
        padding: 10px 25px;
        z-index: 1;
        margin: 30px auto;
        display: block;
        &::before {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            right: 2px;
            bottom: 2px;
            border-radius: 3px;
            background-color: $pinkwhite;
            z-index: -1;
        }
        &:hover {
            cursor: pointer;
            color: $purple;
            &:before {
                display: none;
            }
        }

    }
    .btn-secondary {
        padding: 10px 15px;
        color: $turquoise;
        border: 1px solid $turquoise;
        border-radius: 5px;
        &:hover {
            color: $pinkwhite;
            background-color: $turquoise;
            cursor: pointer;
        }
    }
}