.elegant-deco-grid {
    display: none;
}
header {
    text-align: center;
    padding: 15px 5%;
    nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    #logo {
        width: 85px;
    }
    .themes-btn {
        .menu-squares {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            width: 35px;
            margin: auto;
            span {
                width: 13px;
                height: 13px;
                display: block;
                border-radius: 3px;
            }
        }
        p {
            margin: 0;
            font-size: 14px;
            font-weight: 600;
        }
        
    }
}
header.elegant {
    .themes-btn {
        p {
            color: $black;
        }
        .menu-squares span {
            background-color: $golden;
        }
    } 
    .nav-text-links {
        display: flex;
        align-items: center;
        gap: 20px;
        a {
            color: $black;
            &::after {
                content: '';
                display: block;
                width: 30px;
                border-top: 3px solid $golden;
                position: relative;
                right: 0;
                top: 5px;
            }
        }
    }  
}
header.snow {
    display: flex;
    justify-content: space-between;
    background-color: $purple;
    .themes-btn {
        p {
            color: $pinkwhite;
        }
        .menu-squares span {
            background: $pinkgradient;
        }
    } 
    .nav-text-links {
        display: flex;
        align-items: center;
        gap: 50px;
        a {
            color: $pinkwhite;
            display: flex;
            align-items: center;
            flex-direction: column;            
            text-align: center;
            font-size: 14px;
            &::before {
                content: '';
                display: block;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: 2px solid $pinkwhite;
                margin-bottom: 10px;
            }
            &.active::before {
                background: $pinkgradient;
                border: none;
                width: 19px;
                height: 19px;
            }
        }
    }  
}