main.elegant {
    .about-banner {
        width: 60%;
        margin-left: 23.5%;
        @media (max-width: 950px) {
            margin-left: 10%;
            width: 80%;
        }
    }
    .about-grid {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 50px;
        margin: 20px 10% 50px 23.5%;
        .about-text {
            grid-row: 1 / 2;
        }
        .about-timeline {
            grid-column: 2 / 3;
            grid-row: 1 / 3;
            > div {
                padding: 15px 0 15px 50px;
                position: relative;
                border-left: 3px solid $golden;
                &::before {
                    content: '';
                    display: block;
                    width: 30px;
                    height: 5px;
                    background-color: $golden;
                    position: absolute;
                    top: 20px;
                    left: -15px;
                }
                h3 {
                    margin: 0;
                    font-family: 'Baskerville';
                    font-weight: 100;
                    font-size: 20px;
                }
                p {
                    margin-top: 2px;
                    color: $light-grey;
                }
            }
        }
        @media (max-width: 950px) {
            margin-left: 10%;
        }
        @media (max-width: 700px) {
            display: flex;
            flex-direction: column;
        }
    }
}
main.snow {
    .about-banner {
        background: url(../../images/about-bg.png), #EFF5FF;
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
        text-align: center;
        height: 100vh;
        padding: 0 20%;
        color: $purple;
    }
    .about-text, .spoken-languages {
        background-color: $purple;
        color: $pinkwhite;
        padding: 20px 25%;
        h2, h3 {
            color: $pinkwhite;
        }
    }
    .about-timeline {
            background: url(../../images/about-snow/final-bg.svg) no-repeat left bottom;
            background-size: contain;
            padding-bottom: 200px;
        > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 200px;
            padding: 0 25%;
            @media (max-width: 950px) {
                padding: 0 3%;
                justify-content: start;
            }
            h3 {
                margin: 0;
                font-size: 25px;
                font-weight: 800;
            }
            p {
                margin-top: 3px;
                font-weight: 100;
                color: $purple;
            }
            &:nth-of-type(even) {
                align-items: end;
            }
            &:nth-of-type(odd) {
                align-items: start;
            }
            &:nth-of-type(1) {
                background: url(../../images/about-snow/tree-double.svg) no-repeat right center;
                background-size: contain;
            }
            &:nth-of-type(2) {
                background: url(../../images/about-snow/house-small.svg) no-repeat left center;
                background-size: contain;
            }
            &:nth-of-type(3) {
                background: url(../../images/about-snow/tree-triple.svg) no-repeat right center;
                background-size: contain;
            }
            &:nth-of-type(4) {
                background: url(../../images/about-snow/tree-single.svg) no-repeat left center;
                background-size: contain;
            }
            &:nth-of-type(5) {
                background: url(../../images/about-snow/house-big.svg) no-repeat right center;
                background-size: contain;
            }
        }
        .mapLine {
            width: 100%;
            height: 150px;
            background: url(../../images/about-snow/map-line.svg) center no-repeat;
            background-size: contain;
            display: block;
            margin: 20px 0;
            &:nth-of-type(even) {
                -moz-transform: scaleX(-1);
                -o-transform: scaleX(-1);
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
                filter: FlipH;
                -ms-filter: "FlipH"; 
            }
        }
    }
}