main.elegant {
    background-color: #C9C5AE08;
    .banner {
        display: flex;
        gap: 30px;
        img {
            width: 50%;
        }
    }
    & > div:not(.elegant-deco-grid, .project-slider) {
        margin-left: 23.5%;
    }
    .specialties {
        position: relative;
        margin-top: 50px;
        margin-bottom: 50px;
        &::after {
            content: "My Specialties";
            font-size: 100px;
            font-family: 'Baskerville';
            color: $golden;
            opacity: 0.2;
            transform: rotate(90deg);
            position: absolute;
            top: 40%;
            right: 0;
        }
    }
    .project-slider {
        width: 100%;
        display: flex;
        gap: 15px;
        margin: auto;
        padding: 40px 12% 40px 23.5%;
        position: relative;
        &::before, &::after {
            content: '';
            display: block;
            height: 100%;
            background-color: $golden;
            position: absolute;
            z-index: -1;
            top: 0;
        }
        &::before {
            left: 0;
            width: 35.8%;
        }
        &::after {
            width: 10%;
            right: 0;
        }
        img {
            width: 40.1%;
        }
        button.slider-navigate {
            position: absolute;
            bottom: 50%;
            background-color: transparent;
            border: none;
            cursor: pointer;
            &::after {
                content: '';
                display: block;
                width: 15px;
                border-bottom: 2px solid $black;
            }
            &.prev {
                left: 10%;
            }
            &.next {
                right: 10%;
            }
        }
        .sliderInfo {
            a {
                border-bottom: 2px solid $black;
                border-right: 2px solid $black;
                padding: 0 10px 10px 0;
                font-weight: 600;
                text-align: right;
                &:visited {
                    color: inherit;
                }
            }
        }
    }
    .elegant-deco-grid {
        display: flex;
        gap: 15px;
        justify-content: center;
        padding: 0 10%;
        height: 100vh;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        div {
            border-left: solid 1px #C9C5AE40;
            border-right: solid 1px #C9C5AE40;
            width: 16.6%;
        }
    }
}
main.snow {
    .banner {
        background-image: url(../../images/banner-illustration-snow.png);
        background-size: cover;
        background-position: bottom;
        text-align: center;
        height: 100vh;
        padding: 0 20%;
        color: $purple;
    }
    #projects {
        .project-preview {
            display: flex;
            img {
                width: 50%;
            }
            &:nth-child(even) {
                flex-direction: row-reverse;
            }
        }
    }
    
}