main.elegant {
    background-color: #C9C5AE08;
    .home-banner {
        display: flex;
        gap: 30px;
        position: relative;
        img {
            width: 50%;
        }
        &::before {
            content: '';
            width: 90%;
            height: 100%;
            position: absolute;
            top: 35%;
            left: -30%;
            background-color: $golden;
            opacity: 0.3;
            z-index: -1;
        }
        @media (max-width: 950px) {
            flex-direction: column;
            margin: 0 10%;
            img {
                width: 100%;
            }
        }
    }
    & > div:not(.elegant-deco-grid, .project-slider) {
        margin-left: 23.5%;
        @media (max-width: 950px) {
            margin-left: 10%;
        }
    }
    .specialties-container {
        margin-bottom: 30px;
    }
    .specialties {
        position: relative;
        margin-top: 50px;
        margin-bottom: 50px;
        &::after {
            content: "My Specialties";
            font-size: 100px;
            font-family: 'Baskerville';
            color: $golden;
            opacity: 0.2;
            transform: rotate(90deg);
            position: absolute;
            top: 40%;
            right: 0;
        }

    }
    .project-slider {
        width: 100%;
        display: flex;
        gap: 15px;
        margin: auto;
        margin-bottom: 50px;
        padding: 40px 12% 40px 23.5%;
        position: relative;
        &::before, &::after {
            content: '';
            display: block;
            height: 100%;
            background-color: $golden;
            position: absolute;
            z-index: -1;
            top: 0;
        }
        &::before {
            left: 0;
            width: 35.8%;
        }
        &::after {
            width: 10%;
            right: 0;
        }
        img {
            width: 40.1%;
        }
        button.slider-navigate {
            position: absolute;
            bottom: 50%;
            background-color: transparent;
            border: none;
            cursor: pointer;
            &::after {
                content: '';
                display: block;
                width: 15px;
                border-bottom: 2px solid $black;
            }
            &.prev {
                left: 10%;
            }
            &.next {
                right: 10%;
            }
        }
    }
    .elegant-deco-grid {
        display: flex;
        gap: 15px;
        justify-content: center;
        padding: 0 10%;
        height: 100vh;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        div {
            border-left: solid 1px #C9C5AE40;
            border-right: solid 1px #C9C5AE40;
            width: 16.6%;
        }
    }
}
main.snow {
    .home-banner {
        background-image: url(../../images/banner-illustration-snow.png);
        background-size: cover;
        background-position: bottom;
        text-align: center;
        height: 100vh;
        padding: 0 20%;
        color: $purple;
    }
    .specialties {
        margin-bottom: 50px;
    }
    #projects {
        background-color: $pinkwhite;
        border-radius: 10px;
        margin: 30px 10%;
        padding: 30px;
        .project-preview {
            display: flex;
            align-items: center;
            .text-part {
                padding: 0 30px;
                width: 50%;
                h3 {
                    margin-bottom: 0;
                    font-size: 30px;
                }
                p {
                    margin-top: 5px;
                }
            }
            img {
                width: 50%;
                border-radius: 5px;
            }
            &:last-of-type {
                margin-bottom: 50px;
            }
        }
        a.project-preview-container:nth-child(even) .project-preview {
            flex-direction: row-reverse;
        }
        
    }
    #gallery-preview {
        img {
            border-radius: 5px; 
        }
    }
    @media (max-width: 950px) {
        div.specialties-container {
            flex-direction: column;
            align-items: center;
            div.specialty {
                justify-content: center;
                gap: 50px;
                .specialty-title p {
                    display: none;
                }
                div.types-of-projects {
                    display: block;
                }
            }
        }
    }
    
}
#gallery-preview {
    margin: 30px 10%;
    display: flex;
    gap: 2.5%;
    img {
        width: 18%;                
    }
    @media (max-width: 950px) {
        margin: 5%;
        flex-wrap: wrap;
        gap: 15px 3%;
        img {
            width: 48.5%;
            &:nth-child(5) {
                display: none;
            }
        }
    }
    
}